.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-MainBody {}

.App-footer {
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}